@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("/font/");
}



#container {
    width: 25%;
    margin: auto;
    padding: 1rem 0;
    background: #6190E8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #A7BFE8, #6190E8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #A7BFE8, #6190E8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5%;
}


#display {
    text-align: center;
    height: 3rem;
    background-color: #c6e2ff;
    width: 80%;
    overflow: hidden;
    margin: 1rem auto;
    padding: .5rem;

}

.hidden {
    visibility: hidden;
}

.visible {
    visibility:
}

.col-4 {
    text-align: center;
}

button {
    width: 20%;
    padding: 1rem 0;
    background: white;
    opacity: .7;
    outline-style: none;
    margin: .2rem;
    border-radius: 25%;
}

h1 {
    white-space: pre;
}
