#container {
    width: 20%;
    padding: 1rem 0;
    background: #F3904F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3B4371, #F3904F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3B4371, #F3904F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5%;
}

.bckcolor {
    width: 100%;
}


#display {
    text-align: center;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: .5rem;
    margin: 1rem auto;
    width: 75%;
    border-radius: 5%;
    color: white;
    font-family: 'Dhurjati', sans-serif;
    font-size: 2em;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility:
}

.col-4 {
    text-align: center;
}

button {
    width: 15%;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: .7;
    outline-style: none;
    margin: .2rem;
    border-radius: 25%;
    font-weight: 700;
    font-size: 1.2em;
    color: white;
}

h1 {
    white-space: pre;
}
